.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #e6f4e6;
  font-family: Arial, sans-serif;
}

.auth-card {
  width: 320px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
}

.auth-header {
  background: #258bb6;
  padding: 40px 20px 20px;
  text-align: center;
  color: white;
  border-bottom-left-radius: 50px;
  position: relative;
}

.logo {
  font-size: 30px;
  margin-bottom: 10px;
}

.auth-header h2 {
  margin: 0;
}

.input-group {
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.input-group input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 15px;
  font-size: 13px;
}

.options a {
  text-decoration: none;
  color: #146c43;
}

.auth-btn {
  width: 90%;
  margin: 15px auto;
  display: block;
  background: #258bb6;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.divider {
  text-align: center;
  margin: 10px 0;
  font-size: 14px;
  color: #050202;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.fb { background: #1877f2; }
.google { background: #db4437; }
.apple { background: #333; }

.switch {
  text-align: center;
  padding-bottom: 20px;
  font-size: 14px;
}

.switch a {
  color: #073d24;
  text-decoration: none;
}

.back-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.error-msg {
  color: red;
  font-size: 14px;
  margin: 5px 15px;
}
